{% extends "frontend.twig" %}
{% import "macros.twig" as macros %}

{% block navigation %}
{% endblock %}

{% block footer %}
<footer class="text-center">
	<div><small><a href="/">About</a></small></div>
</footer>
{% endblock %}
