{# Do not use the ternary operator because the secure bindings for Knockout do not support them. #}
<tbody data-bind="attr: {'data-colid': id, 'class': bodyClass(), 'draggable': 'true' }">
	<tr class="h-primary">
		<td data-bind="attr: { class: 'h-name ' + rowClass() }"><a href="#" data-bind="editable: name, editableOptions: { hidden: onEditableHidden }"></a></td>
		<td data-bind="attr: { class: 'h-ishidden ' + rowClass() }">
			<!-- ko if: !fixed -->
			<input type="checkbox" value="1" data-bind="checked: hidden, attr: { disabled: isOptionsColumn() || (hidden() && $parent.isFull()) }"></a>
			<!-- /ko -->
		</td>
		<td data-bind="attr: { class: 'text-right h-controls ' + rowClass() }">
			<!-- ko if: !deleting() -->
			<!-- ko if: !fixed -->
			<button data-bind="click: moveUp, activate: moveUp, attr: { class: 'btn move-up btn-xs' + (first() && ' disabled' || ' btn-default') }"><i class="fa fa-arrow-up"></i></button>
			<button data-bind="click: moveDown, activate: moveDown, attr: { class: 'btn move-down btn-xs' + (last() && ' disabled' || ' btn-default') }"><i class="fa fa-arrow-down"></i></button>
			<!-- /ko -->
			<button data-bind="click: confirmDelete, activate: confirmDelete, attr: { class: 'btn btn-danger btn-xs' + deleteBtnClass() }"><i class="fa fa-trash-o"></i></button>
			<!-- /ko -->

			<!-- ko if: deleting() -->
			<button class="btn btn-danger btn-xs" data-bind="click: doDelete, activate: doDelete"><i class="fa fa-trash-o"></i></button>
			<button class="btn btn-default btn-xs" data-bind="click: cancelDelete, activate: cancelDelete"><i class="fa fa-undo"></i></button>
			<!-- /ko -->
		</td>
	</tr>
</tbody>
