<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block fulltitle %}{% block title %}Welcome{% endblock %} &ndash; Horaro{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block meta %}{% endblock %}
	{% block styles %}{% endblock %}
</head>
<body{% block body_attr %}{% endblock %}>
	{% block navbar %}
	<nav class="navbar navbar-default navbar-static-top" id="top" role="navigation">
		<div class="{{ fluid|default(false) ? 'container-fluid' : 'container' }}">
			{% block navheader %}
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#h-collapse-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Horaro</a>
			</div>
			{% endblock %}

			<div class="collapse navbar-collapse" id="h-collapse-nav">
				{% block navigation %}{% endblock %}
			</div>
		</div>
	</nav>
	{% endblock %}

	<div class="{{ fluid|default(false) ? 'container-fluid' : 'container' }}" id="content">
		{% block content %}{% endblock %}

		{% block footer %}
		<footer class="text-muted">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<small>
						Horaro – <span><a href="https://bitbucket.org/sgt-kabukiman/horaro" target="_blank">open source</a> scheduling.</span> <span>Because we ♥ open data.</span><br>
						<a href="/-/licenses">Acknowledgments</a>
					</small>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
					<small>{{ app.version }}</small>
				</div>
			</div>
		</footer>
		{% endblock %}
	</div>

	{% block scripts %}{% endblock %}

	{% block flashes %}
	{% set flashes = app.session.flashbag.all %}
	{% if flashes|length > 0 %}
	<script type="text/javascript">
	var horaro = horaro||{};
	horaro.flashes = {{ flashes|json_encode|raw }};
	</script>
	{% endif %}
	{% endblock %}
</body>
</html>
