<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Welcome{% endblock %} &ndash; Horaro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block styles %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" id="top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#h-collapse-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Horaro</a>
			</div>

			<div class="collapse navbar-collapse" id="h-collapse-nav">
				{% block navigation %}{% endblock %}
			</div>
		</div>
	</nav>

	<div class="container" id="content">
		{% block content %}{% endblock %}
	</div>

	{% block scripts %}{% endblock %}
</body>
