.h-formhelp legend {
	margin-top: 20px;
}

.nope {
	display: none;
}

/* Scheduler */

table.h-schedule {
	font-size: 13px;

	thead th {
		padding: 3px 5px !important;
	}

	> tbody + tbody {
		border-top: 1px solid #dddddd;
	}

	tbody {
		td {
			padding: 3px 5px;
			vertical-align: middle;
		}
	}

	.h-item-more div {
		line-height: 20px;
	}

	.h-co {
		white-space: nowrap;
		width: 100px;

		button[rel=less] {
			display: none;
		}

		&.expanded {
			button[rel=less] {
				display: inline-block;
			}

			button[rel=more] {
				display: none;
			}
		}
	}

	.h-s, .h-l {
		white-space: nowrap;
		width: 50px;
	}

	.h-new-day td {
		background: #ddd;
		padding: 7px;
		font-weight: bold;
	}
}

.h-schedule-header {
	.btn-group a {
		font-size: 14px;
	}

	div:last-child {
		margin-top: 11px;
	}
}

tbody.h-odd td {
	background: #f8f8f8;
}

/* custom Bootstrap styling */

.dropdown-menu > li > a {
	padding-top: 4px;
	padding-bottom: 4px;
}

.navbar .dropdown-menu > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}

.dropdown-menu .divider {
	margin: 5.5px 0;
}

.alert {
	padding: 5px;
	font-size: 13px;
	line-height: 23px;
}
