{% extends "layout.twig" %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
		<div class="well">
			<form method="post" action="/-/login" class="form-horizontal">
				<fieldset>
					<legend>Log-in Required</legend>

					<div class="form-group{% if result and result.login.errors %} has-error{% endif %}">
						<label class="col-lg-3 control-label" for="username">Username:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="username" name="username" autofocus required value="{% if result %}{{ result.login.filtered }}{% endif %}">
							{% if result and result.login.errors and result.login.messages %}
							<span class="help-block"><strong>
								{% for message in result.login.messages %}
									{{ message }}<br>
								{% endfor %}
							</strong></span>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label" for="password">Password:</label>
						<div class="col-lg-9">
							<input type="password" class="form-control" id="password" name="password" required>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-sign-in"></i> Log-in</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

		{% if result and result.form.errors and result.form.messages %}
		<div class="alert alert-dismissable alert-danger">
			{% for message in result.form.messages %}
				{{ message }}<br>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
