RewriteEngine On

<IfModule expires_module>
	<FilesMatch "[0-9a-f]{8}\.(css|js)$">
		ExpiresActive On
		ExpiresDefault "access plus 6 months"
	</FilesMatch>
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [QSA]
