{% extends "backend.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<ul class="breadcrumb" style="margin-bottom: 5px;">
	<li>Home</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h2>My Events</h2>
	</div>
</div>

<div class="row h-tiles">
	{% for event in app.user.events %}
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="well well-sm">
			<div>
				<h4><a href="/-/events/{{ event.id }}">
					<span><i class="fa fa-gamepad fa-3x"></i></span>
					<span>{{ event.name|shorten(55) }}</span>
				</a></h4>
			</div>
		</div>
	</div>
	{% endfor %}

	{% if not isFull %}
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="well well-sm h-adder">
			<div>
				<h4><a href="/-/events/new" class="text-muted">
					<span><i class="fa fa-plus fa-3x"></i></span>
					<span>New…</span>
				</a></h4>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% if isFull %}
<div class="alert alert-info">
	<i class="fa fa-info-circle"></i> You have reached the maximum number of allowed events for your account.
</div>
{% endif %}
{% endblock %}
