dl.h-indented dd {
	padding-left: 20px;
}

.h-twitch, .h-website, .h-twitter {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.h-twitch {
	background-image: url(http://www.twitch.tv/favicon.ico);
}

.h-twitter {
	background-image: url(http://twitter.com/favicon.ico);
}

.breadcrumb {
	font-size: 14px;
}
