dl.h-indented dd {
	padding-left: 20px;
}

.h-twitch, .h-website, .h-twitter {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.h-twitch {
	background-image: url(http://www.twitch.tv/favicon.ico);
}

.h-twitter {
	background-image: url(http://twitter.com/favicon.ico);
}

.breadcrumb {
	font-size: 14px;
}

/* custom Pickadate styling */

.picker__input {
	cursor: pointer !important;
	background-color: white !important;
}

.picker__holder {
	min-width: 250px;
}

.picker--time {
	min-width: 50px;
}

.picker--time .picker__holder {
	min-width: 50px;
}

.picker__day, .picker__list-item {
	font-size: 12px;
}
