dl.h-indented dd {
	padding-left: 20px;
}

.h-twitch, .h-website, .h-twitter {
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
}

.h-twitch {
	background-image: url(http://www.twitch.tv/favicon.ico);
}

.h-twitter {
	background-image: url(http://twitter.com/favicon.ico);
}

.breadcrumb {
	font-size: 14px;
}

.h-formhelp legend {
	margin-top: 20px;
}

/* Scheduler */

.h-scheduler {
	font-size: 12px;

	tbody .h-handle {
		width: 25px;
		text-align: center;
		cursor: move;
	}

	thead th {
		padding: 3px 5px !important;
	}

	> tbody + tbody {
		border-top: 1px solid #dddddd;
	}

	.h-item {
		td {
			padding: 3px 5px;
			vertical-align: middle;
		}
	}

	.h-item-more div {
		line-height: 20px;
	}

	.h-controls {
		white-space: nowrap;
		max-width: 100px;
	}

	.h-scheduled, .h-length {
		white-space: nowrap;
		max-width: 70px;
	}

	.h-length.h-has-errors .editable {
		color: red;
	}
}

.h-scheduler-header {
	a {
		font-size: 14px;
	}

	div:last-child {
		margin-top: 25px;
	}
}

/* Columnist */

.h-columnist {
	font-size: 14px;

	tbody .h-handle {
		width: 25px;
		text-align: center;
		cursor: move;
	}

	thead th {
		padding: 3px 5px !important;
	}

	> tbody + tbody {
		border-top: 1px solid #dddddd;
	}

	.h-column {
		td {
			padding: 3px 5px;
			vertical-align: middle;
		}
	}

	.h-controls {
		white-space: nowrap;
		max-width: 100px;
	}
}

.h-formhelp-columnist {
	margin-top: 30px;
	font-size: 14px;
}

/* custom Pickadate styling */

.picker__input {
	cursor: pointer !important;
	background-color: white !important;
}

.picker__holder {
	min-width: 250px;
}

.picker--time {
	min-width: 50px;
}

.picker--time .picker__holder {
	min-width: 50px;
}

.picker__day, .picker__list-item {
	font-size: 12px;
}

/* custom X-Editable styling */

.editable-click, a.editable-click, a.editable-click:hover {
	border-bottom: dashed 1px #5bc0de;
	cursor: pointer;
}

.editable-unsaved {
	font-weight: normal;
}

.editable-buttons {
	line-height: 30px;

	button {
		vertical-align: baseline;
	}
}

.editableform .editable-input input {
	width: 300px;
}

.popover {
	font-weight: normal;
}
