{% extends "admin/layout.twig" %}
{% import "macros.twig" as macros %}

{% block content %}
<h2>Utilities</h2>

<ul class="nav nav-tabs">
	<li{% if active == 'config' %} class="active"{% endif %}><a href="/-/admin/utils/config"><i class="fa fa-gears"></i> Configuration</a></li>
	<li{% if active == 'tools' %} class="active"{% endif %}><a href="/-/admin/utils/tools"><i class="fa fa-wrench"></i> Tools</a></li>
	<li{% if active == 'serverinfo' %} class="active"{% endif %}><a href="/-/admin/utils/serverinfo"><i class="fa fa-info-circle"></i> Server Info</a></li>
</ul>

{% block tabcontent %}{% endblock %}
{% endblock %}
