{% extends "admin/utils/layout.twig" %}
{% import "macros.twig" as macros %}

{% block title %}Server Info &ndash; Admin{% endblock %}
{% set active = 'serverinfo' %}

{% block tabcontent %}
{% if hasPhpinfo %}
<iframe src="/-/admin/utils/serverinfo/phpinfo" seamless class="h-phpinfo"></iframe>
{% else %}
<div class="well form-horizontal">
	<div class="form-group">
		<label class="col-lg-4 control-label">PHP version:</label>
		<div class="col-lg-8">
			<p class="form-control-static">{{ phpversion }}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-4 control-label">Root directory:</label>
		<div class="col-lg-8">
			<p class="form-control-static">{{ root }}</p>
		</div>
	</div>
</div>

<div class="alert alert-warning">
	<i class="fa fa-info-circle"></i> Sorry, but <code>phpinfo()</code> is disabled on this server.
</div>
{% endif %}
{% endblock %}
